<section class="hero is-danger">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="title_a">
                cafe Mogakco
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-dropdown">
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger is-light">
                            <strong>home</strong>
                        <a class="button is-danger is-light">
                            <strong>write</strong>
                        </a>
                        <a class="button is-danger is-light">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-danger is-light">
                            <strong>Log in</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>