<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>

    <!-- file upload -->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hahmlet:wght@200;300;400&family=IBM+Plex+Sans+KR:wght@200;300;400;500;600&family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap"
            rel="stylesheet"
    />

    <title>Cafe MogakCo</title>
    <style>
    </style>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
            listing();
            getCafe();
        });

        function getCafe() {
            let pathname = decodeURI(document.location.pathname);
            let splitPathname = pathname.split('/');
            let cafeName = splitPathname[2];
            $.ajax({
                type: 'GET',
                url: `/cafe/detail/${cafeName}`,
                data: {},
                success: function (response) {
                    console.log('res', response);
                    console.log('asdf', response.data.address);
                    const {address, createdAt, name, rating} = response.data
                          let detailCafe = `
                          <div className="content">
<br>
<br>
<br>
                                <p>
                                     <medium>카페명: ${name}</medium>
                                    <br><small>카페 별점: ${rating}</small>
                                    <br>카페 추천 날짜: ${createdAt}
                                    <br>주소: ${address}
                                </p>
                          </div>
                          `;

                        $('#comments-box').append(detailCafe);
                },
            })
        }

        function listing() {
            let pathname = decodeURI(document.location.pathname);
            let splitPathname = pathname.split('/');
            let cafeName = splitPathname[2];
            $.ajax({
                type: 'GET',
                url: `/comment/${cafeName}`,
                data: {},
                success: function (response) {
                    let detail = response['data'];
                    console.log(detail);
                    for (let i = 0; i < detail.length; i++) {
                        let name = detail[i]['name'];
                        let userid = detail[i]['userid'];
                        let createdAt = detail[i]['createdAt'];
                        let usability = detail[i]['usability'];
                        let mood = detail[i]['mood'];
                        let price = detail[i]['price'];
                        let comment = detail[i]['comment'];
                        let temp_html = `
                          <div className="content">
                                <p>
                                     <medium>작성자: ${userid}</medium>
                                    <br><small>편의성 ${usability}</small> <small>분위기 ${mood}</small>
                                    <small>금액대 ${price}</small>
                                    <br>작성일: ${createdAt}
                                    <br>상세 후기: ${comment}
                                </p>
                          </div>
                          `;

                        $('#comments-box').append(temp_html);
                    }
                },
            });
        }
    </script>

    <title>Mogakco | Cafe</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
{% include "/section/header.html" %}
<section class="cafe_detail">
    <div class="columns is-mobile">
        <div class="column">
            <figure class="image is-16by9">
                <img class="has-ratio" width="640" height="360"
                     src="https://cdn.pixabay.com/photo/2017/06/20/23/15/coffee-2425303_960_720.jpg">
            </figure>
        </div>
        <div class="column" id="comments-box">
            <article class="media">
                <div id="comment-box" class="media-content">

                </div>
            </article>
        </div>
    </div>
    </div>
</section>
{% include "/section/footer.html" %}
</body>
</html>