<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Document</title>
</head>
<script>

    function posting() {
        let pathname = decodeURI(document.location.pathname);
        let splitPathname = pathname.split('/');

        let cafeName = splitPathname[2];
        let usability = $('#usability').val();
        let mood = $('#mood').val();
        let price = $('#price').val();
        let comment = $('#comment').val();
        $.ajax({
            type: 'POST',
            url: `/comment`,
            data: {
                name: cafeName,
                usability: usability,
                mood: mood,
                price: price,
                comment: comment,
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload();
            },
        });
    }
</script>
<body>
<div class="wrap">
    <div class="card" style="width: 24rem">
        <div class="card-body">
            <div class="form-floating">
                <select
                        class="form-select"
                        id="usability"
                        aria-label="Floating label select example"
                >
                    <option value="1">⭐</option>
                    <option value="2">⭐⭐</option>
                    <option selected value="3">⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
                <label for="usability">편의성</label>
            </div>
            <div class="form-floating">
                <select
                        class="form-select"
                        id="mood"
                        aria-label="Floating label select example"
                >
                    <option value="1">⭐</option>
                    <option value="2">⭐⭐</option>
                    <option selected value="3">⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
                <label for="mood">분위기</label>
            </div>
            <div class="form-floating">
                <select
                        class="form-select"
                        id="price"
                        aria-label="Floating label select example"
                >
                    <option value="1">⭐</option>
                    <option value="2">⭐⭐</option>
                    <option selected value="3">⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
                <label for="price">금액대</label>
            </div>
            <div class="form-floating">
                <label for="comment">
            <textarea
                    class="form-control"
                    id="comment"
            ></textarea>
                    댓글
                </label>
            </div>
            <button onclick="posting()" type="button" class="btn btn-primary">
                후기 등록
            </button>
        </div>
    </div>
</div>

</body>
</html>